<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Appenders>
    <File name="LogToFile" fileName="com/resources/log.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>

    # Console appender
    <Console name="stdout" target="SYSTEM_OUT">
      # Pattern of log message for console appender
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
    </Console>

  <Loggers>
    <Logger name="web" level="debug" additivity="false">
      <AppenderRef ref="LogToFile"/>
    </Logger>
    <Root level="trace">
      <AppenderRef ref="LogToFile" level="debug"/>
      <AppenderRef ref="LogToFile" level="info"/>
      <AppenderRef ref="LogToFile" level="error"/>
    </Root>
  </Loggers>

</Configuration>